{% extends 'base.html' %} {% block content %}

<div id="exTab1" class="container">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#1a" data-toggle="tab">Datos</a>
    </li>
    <li><a href="#2a" data-toggle="tab">Graficos</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="1a">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form
              class="form-inline"
              method="POST"
              action="{{ url_for('hashtag') }}"
            >
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"
                    >Ingrese el hashtag a buscar</span
                  >
                  <input name="text" />
                </div>
                <button type="submit" class="btn btn-success">Agregar</button>
              </div>
            </form>
          </div>
          <div>
            <button class="btn btn-success">
              <a href="/getDownloadHashtag">Descargar</a>
            </button>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <table class="table table-condensed">
            <thead class="table border">
              <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">diggCount</th>
                <th scope="col">shareCount</th>
                <th scope="col">commentCount</th>
                <th scope="col">playCount</th>
                <th scope="col">Usuario</th>
                <th scope="col">fecha</th>
              </tr>
            </thead>
            <tbody>
              {% for col in hashtag %}
              <tr>
                <td>{{ col.descripcion }}</td>
                <td>{{ col.diggCount }}</td>
                <td>{{ col.commentCount }}</td>
                <td>{{ col.shareCount }}</td>
                <td>{{ col.playCount }}</td>
                <td>
                  <a
                    href="https://www.tiktok.com/@{{ col.author}}/video/{{col.video }}"
                    target="_blank"
                    >{{col.author}}</a
                  >
                </td>
                <td>{{ col.fecha_f }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="2a">
      <div class="container">
        <div class="col-md-12">
          <h3><center>{{header}}</center></h3>

          <div id="chart" class="chart"></div>
          <div><center>{{description}}</center></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.newPlot('chart',graphs,{});
</script>
{% endblock %}
